@model PlayerPageViewModel
<section id="player-profile">
    <div class="container">
        <div class="player-info">
            <img src="@Model.PlayerDetails.PictureURL" alt="Player Photo" class="player-photo-large">
            <div class="player-details">
                <h2>@Model.PlayerDetails.Name</h2>
                <p><strong>Възраст:</strong> @Model.PlayerDetails.Age г</p>
                <p><strong>Височина:</strong> @Model.PlayerDetails.Height см</p>
                <p><strong>Тегло:</strong> @Model.PlayerDetails.Weight кг</p>
            </div>
        </div>
        <div class="player-stats">
            <h3>Средна статистика на играча</h3>
            @if (Model.PlayerDetails.Statistics == null || !Model.PlayerDetails.Statistics.Any())
            {
                <p>Няма налична статистика за този играч през сезона.</p>
            }
            else
            {
                <table>
                    <tr>
                        <th rowspan="2">Season</th>
                        <th rowspan="2">Min</th>
                        <th colspan="2">Field Goals</th>
                        <th colspan="2">2 Points</th>
                        <th colspan="2">3 Points</th>
                        <th colspan="2">Free Throws</th>
                        <th colspan="3">Rebounds</th>
                        <th rowspan="2">AS</th>
                        <th rowspan="2">TO</th>
                        <th rowspan="2">ST</th>
                        <th rowspan="2">BS</th>
                        <th colspan="2">Fouls</th>
                        <th rowspan="2">+/-</th>
                        <th rowspan="2">EF</th>
                        <th rowspan="2">PTS</th>
                    </tr>
                    <tr>
                        <th>M/A</th>
                        <th>%</th>
                        <th>M/A</th>
                        <th>%</th>
                        <th>M/A</th>
                        <th>%</th>
                        <th>M/A</th>
                        <th>%</th>
                        <th>OR</th>
                        <th>DR</th>
                        <th>TOT</th>
                        <th>PF</th>
                        <th>FD</th>
                    </tr>
                    <tr>
                        <td>ББЛ Б Център 23-24</td>
                        <td>@Model.PlayerAverageStatistic.Minutes</td>
                        <td>@Model.PlayerAverageStatistic.FieldGoals_Made/@Model.PlayerAverageStatistic.FieldGoals_Attempted</td>
                        <td>@Model.PlayerAverageStatistic.FieldGoalsPercentage%</td>
                        <td>@Model.PlayerAverageStatistic.TwoPoints_Made/@Model.PlayerAverageStatistic.TwoPoints_Attempted</td>
                        <td>@Model.PlayerAverageStatistic.TwoPointsPercentage%</td>
                        <td>@Model.PlayerAverageStatistic.ThreePoints_Made/@Model.PlayerAverageStatistic.ThreePoints_Attempted</td>
                        <td>@Model.PlayerAverageStatistic.ThreePointsPercentage%</td>
                        <td>@Model.PlayerAverageStatistic.FreeThrows_Made/@Model.PlayerAverageStatistic.FreeThrows_Attempted</td>
                        <td>@Model.PlayerAverageStatistic.FreeThrowsPercentage%</td>
                        <td>@Model.PlayerAverageStatistic.OffensiveRebounds</td>
                        <td>@Model.PlayerAverageStatistic.DeffensiveRebounds</td>
                        <td>@Model.PlayerAverageStatistic.TotalRebounds</td>
                        <td>@Model.PlayerAverageStatistic.Assists</td>
                        <td>@Model.PlayerAverageStatistic.Turnovers</td>
                        <td>@Model.PlayerAverageStatistic.Steals</td>
                        <td>@Model.PlayerAverageStatistic.Blocks</td>
                        <td>@Model.PlayerAverageStatistic.PersonalFouls</td>
                        <td>@Model.PlayerAverageStatistic.FaulsDrawned</td>
                        <td>@Model.PlayerAverageStatistic.PlusMinus</td>
                        <td>@Model.PlayerAverageStatistic.Efficiency</td>
                        <td>@Model.PlayerAverageStatistic.Points</td>
                    </tr>
                </table>
            }
        </div>
        <div class="player-stats">
            <h3>Статистики през сезона</h3>
            @if (Model.PlayerDetails.Statistics == null || !Model.PlayerDetails.Statistics.Any())
            {
                <p>Няма налична статистика за този играч през сезона.</p>
            }
            else
            {
                <table>
                    <tr>
                        <th rowspan="2">Team Against</th>
                        <th rowspan="2">Min</th>
                        <th colspan="2">Field Goals</th>
                        <th colspan="2">2 Points</th>
                        <th colspan="2">3 Points</th>
                        <th colspan="2">Free Throws</th>
                        <th colspan="3">Rebounds</th>
                        <th rowspan="2">AS</th>
                        <th rowspan="2">TO</th>
                        <th rowspan="2">ST</th>
                        <th rowspan="2">BS</th>
                        <th colspan="2">Fouls</th>
                        <th rowspan="2">+/-</th>
                        <th rowspan="2">EF</th>
                        <th rowspan="2">PTS</th>
                    </tr>
                    <tr>
                        <th>M/A</th>
                        <th>%</th>
                        <th>M/A</th>
                        <th>%</th>
                        <th>M/A</th>
                        <th>%</th>
                        <th>M/A</th>
                        <th>%</th>
                        <th>OR</th>
                        <th>DR</th>
                        <th>TOT</th>
                        <th>PF</th>
                        <th>FD</th>
                    </tr>
                    @foreach (var statistic in Model.PlayerDetails.Statistics)
                    {
                        <tr>
                            <td>@statistic.TeamAgainst <br> @statistic.Date.ToString("dd.MM.yyyy")</td>
                            <td>@statistic.Minutes</td>
                            <td>@statistic.FieldGoals_Made/@statistic.FieldGoals_Attempted</td>
                            <td>@statistic.FieldGooalsPercentage%</td>
                            <td>@statistic.TwoPoints_Made/@statistic.TwoPoints_Attempted</td>
                            <td>@statistic.TwoPointsPercentage%</td>
                            <td>@statistic.ThreePoints_Made/@statistic.ThreePoints_Attempted</td>
                            <td>@statistic.ThreePointsPercentage%</td>
                            <td>@statistic.FreeThrows_Made/@statistic.FreeThrows_Attempted</td>
                            <td>@statistic.FreeThrowsPercentage%</td>
                            <td>@statistic.OffensiveRebounds</td>
                            <td>@statistic.DeffensiveRebounds</td>
                            <td>@statistic.TotalRebounds</td>
                            <td>@statistic.Assists</td>
                            <td>@statistic.Turnovers</td>
                            <td>@statistic.Steals</td>
                            <td>@statistic.Blocks</td>
                            <td>@statistic.PersonalFaul</td>
                            <td>@statistic.FaulDrawned</td>
                            <td>@statistic.PlusMinus</td>
                            <td>@statistic.Efficiency</td>
                            <td>@statistic.Points</td>
                        </tr>
                    }
                </table>
            }
        </div>

    </div>
</section>